<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ERP_10_33" connectionString="Data Source=198.1.10.33;Failover Partner=198.1.10.31;Initial Catalog=erp;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="ERP_10_34" connectionString="Data Source=198.1.10.34;Initial Catalog=erp;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="InTem_9_186" connectionString="Data Source=198.1.9.186;Initial Catalog=InTem;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_21" connectionString="Data Source=198.1.8.21;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_22" connectionString="Data Source=198.1.8.22;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_23" connectionString="Data Source=198.1.8.23;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_24" connectionString="Data Source=198.1.8.24;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_35" connectionString="Data Source=198.1.8.35;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_36" connectionString="Data Source=198.1.8.36;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_37" connectionString="Data Source=198.1.8.37;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="MFNS_8_38" connectionString="Data Source=198.1.8.38;Initial Catalog=mfns;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="LotBB_10_133" connectionString="Data Source=198.1.10.133;Initial Catalog=LotBB;User ID=kenda;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="P8400_10_34" connectionString="Data Source=198.1.10.34;Initial Catalog=P8400;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="CWSS_8_16" connectionString="Data Source=198.1.8.16;Initial Catalog=CWSS_S7;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="CWSS_8_17" connectionString="Data Source=198.1.8.17;Initial Catalog=CWSS_S7;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="CWSS_8_15" connectionString="Data Source=198.1.8.15;Initial Catalog=CWSS_S7;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
    <add name="CWSS_8_18" connectionString="Data Source=198.1.8.18;Initial Catalog=CWSS_S7;User ID=kendakv2;Password=kenda123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>